
body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    color: #40514E;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive; 
    font-size: 5.625rem;
    color: #1C4D8D;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #1C4D8D;
    font-weight: normal;
    padding: 15px;
}

h3 {
    font-family: "Montserrat", sans-serif;
    color: #4988C4;
}

p {
    line-height: 2;
}

hr{
    border: none;
    border-top: 6px dashed #40514E;
    width: 10%;
    margin: 80px auto;
}

a {
    margin: 10px 20px;
    font-family: "Montserrat", sans-serif;
    color: #4988C4;
    text-decoration: none;
}

a:hover {
    color: #2Cc4CC;
}

.top-container {
    padding: 100px; 
    background-color: #EDDBCA;
    position: relative;
}

.middle-section {
    margin: 100px 0;
}

.pro {
    text-decoration: underline;
}

/* .bottom-cloud { 
    position: absolute;
    bottom: 250px;
    left: 300px;
    width: 70px;
    
}

.top-cloud {
    position: absolute;
    right: 500px;
    top: 40px;
    width: 70px;
} */

.radius {
    border-radius: 50%;
    width: 35%;
    float: left;
    /* padding: 30px; */
    margin-right: 30px;
}

.radius2 {
    border-radius: 50%;
    width: 35%;
    float: right;
    margin-left: 30px;
}

.text-color {
    width: 30%;
    margin: auto;
    padding-bottom: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.profile-img {
    border-radius: 50%;
}

.code2 {
    color: #213C51;
    padding: 20px 0;
    font-size: 0.75rem; 
}

.bottom-section {
    background-color: #1C4D8D;
    margin-top: 50px;
    padding: 50px 0 20px;
}

/* .btn {  
    background-color: #1C4D8D;
    color: #4988C4;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 40px;
 } */

 .btn {
  background: #1C4D8D;
  background-image: -webkit-linear-gradient(top, #1C4D8D, #213c51);
  background-image: -moz-linear-gradient(top, #1C4D8D, #213c51);
  background-image: -ms-linear-gradient(top, #1C4D8D, #213c51);
  background-image: -o-linear-gradient(top, #1C4D8D, #213c51);
  background-image: linear-gradient(to bottom, #1C4D8D, #213c51);
  -webkit-border-radius:  8;
  -moz-border-radius:  8;
  border-radius:  8px;
  font-family: "Montserrat", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  color: #4988C4;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #1B3C7A;
  background-image: -webkit-linear-gradient(top, #1B3C7A, #2Cc4CC);
  background-image: -moz-linear-gradient(top, #1B3C7A, #2Cc4CC);
  background-image: -ms-linear-gradient(top, #1B3C7A, #2Cc4CC);
  background-image: -o-linear-gradient(top, #1B3C7A, #2Cc4CC);
  background-image: linear-gradient(to bottom, #1B3C7A, #2Cc4CC);
  text-decoration: none;
}

.space {
    width: 40%;
    margin: 40px auto;
    padding-bottom: 20px;
}